* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.react-tel-input input {
  font-family: 'Poppins', sans-serif;
  border-radius: 12px !important;
  font-size: 18px !important;
  padding: 15.5px 14px 15.5px 58px !important;
  color: #979797;
  border-color: #979797 !important;
}

.react-tel-input input:focus {
  border-color: #67AA36 !important;
  box-shadow: 0 0 0 1px #67AA36 !important;
}

.react-tel-input .special-label {
  font-family: 'Poppins', sans-serif;
}

.tiptap {
  padding: 16px;
  min-height: 320px;
  border: 1px solid #979797;
  border-radius: 10px;
  outline: none;

  &:focus-within {
    outline: 1px solid #67AA36;
    border-color: #67AA36;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #c9c9c9;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}